<div class="container">
    <div class="starter-template">
        <h1>MTG Inventory</h1>
        <p class="lead">Tento projekt je zaměřen na evidenci a sledování cen karet na českém trhu. (Černý Rytíř, Tolarie, Najada)</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form data-bind="submit: findCardInForm">
                <div class="form-group">
                    <label for="findInput">Card:</label>
                    <input data-bind="value: newText" placeholder="card name?" id="findInput"/>
                    <button type="submit" class="btn btn-success btn-sm">Find card</button>
                    <button type="button" class="btn btn-info btn-sm" data-bind="click: fetchCard">Fetch card from shop</button>
                </div>
            </form>

            <div class="table-responsive">
                <table class="table table-striped table-condensed table-bordered center-table">
                    <thead>
                    <tr>
                        <th>card name</th>
                        <th>links</th>
                        <th>info</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: cards">
                    <tr>
                        <td><a data-bind="text: name, attr: { href: hrefDetail }"></a><span data-bind="html: foilImg"></span></td>
                        <td class="hidden-xs"><span data-bind="html: crLink"></span> / <span data-bind="html: tolarieLink"></span></td>
                        <td><span data-bind="text: edition"></span> /
                            <span data-bind="text: rarity"></span> /
                            <span data-bind="text: foilTxt"></span>
                            <!--
                            //TODO: zprovoznit zase oznaceni uzivatelskych karet
                            <a data-bind="visible: $root.user().idEmail, click: $root.addUserCardFromTable"><i class="glyphicon glyphicon-plus"></i></a>
                            -->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
