<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Daily Card price changes</h1>
            <div class="table-responsive">
                <table class="table table-striped table-condensed table-bordered center-table">
                    <thead>
                    <tr>
                        <th>card name</th>
                        <th>card info</th>
                        <th class="hidden-xs">shop</th>
                        <th>old</th>
                        <th>new</th>
                        <th>change</th>
                    </tr>
                    </thead>
                    <!-- Todo: Generate table body -->
                    <tbody data-bind="foreach: cardMovementsDay">
                    <tr>
                        <td><a data-bind="text: name, attr: { href: hrefDetail }"></a><span data-bind="html: foilImg"></span></td>
                        <td data-bind="html: info"></td>
                        <td data-bind="text: shop" class="hidden-xs"></td>
                        <td data-bind="text: oldPrice"></td>
                        <td data-bind="text: newPrice"></td>
                        <td data-bind="text: gainPercentage, css: gainStatus"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Card price changes from start of week</h1>
            <div class="table-responsive">
                <table class="table table-striped table-condensed table-bordered center-table">
                    <thead>
                    <tr>
                        <th>card name</th>
                        <th>card info</th>
                        <th class="hidden-xs">shop</th>
                        <th>old</th>
                        <th>new</th>
                        <th>change</th>
                    </tr>
                    </thead>
                    <!-- Todo: Generate table body -->
                    <tbody data-bind="foreach: cardMovementsWeek">
                    <tr>
                        <td><a data-bind="text: name, attr: { href: hrefDetail }"></a><span data-bind="html: foilImg"></span></td>
                        <td data-bind="html: info"></td>
                        <td data-bind="text: shop" class="hidden-xs"></td>
                        <td data-bind="text: oldPrice"></td>
                        <td data-bind="text: newPrice"></td>
                        <td data-bind="text: gainPercentage, css: gainStatus"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
